@import "compass";

@import "custom/colors";
@import "custom/typography";
@import "base";
@import "partials";
@import "custom/syntax";
@import "custom/styles";

.button-block {
	margin-top: 30px;
	margin-bottom: 30px;
}

.button-block a.btn {
	margin-right: 10px;
}

.page-header p.meta {
	margin-bottom: 5px;
}

.screenshot-right {
	margin-left: 10px;
}

.credit a {
	color: #516C85;
}

h1.entry-title a {
	color: #333;
}

.meta .meta-block {
	margin-right: 10px;
}

aside.sidebar {
	margin-top: 20px;
}

header.page-header {
	margin-top: 20px;
}
